@font-face {
  font-family: RetroTeam;
  src: url(./font/Retro\ Team.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: RetroTeam;
  overflow-x: hidden;
}

.first-page {
  background-image: url("./img/1.png");
}

.page {
  position: relative;
  width: 100%;
  height: 1080px;
  background-size: cover;
}

.page1 {
  background-image: url("./img/1.png");
}

.page9 {
  background-image: url("./img/9.jpg");
}

.name {
  text-transform: uppercase;
  font-size: 110px;
  color: rgb(5, 0, 12);
  text-align: center;
  border-width: 1px;
  border-color: rgb(233, 208, 255);
  border-style: solid;
  background-color: rgb(233, 208, 255);
  position: relative;
}

.nino {
  font-size: 110px;
  left: 210px;
  top: 103px;
  width: 646px;
  height: 105px;
}

.grap {
  left: 537px;
  top: 332px;
  width: 749px;
  height: 95px;
  font-size: 96px;
}

.navigation {
  left: 1406px;
  top: 437px;
  width: 310px;
  height: 303px;
  font-size: 68px;
  position: absolute;
}

.nav {
  text-decoration: none;
  color: #05000c;
}

.dow {
  font-size: 61px;
  font-family: "RetroTeam";
  color: rgb(233, 208, 255);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 1620px;
  top: 144px;
  z-index: 162;
  text-decoration: none;
}

.contactHeader {
  font-size: 110px;
  left: 209px;
  top: 103px;
  width: 644px;
  height: 105px;
}

.contacts {
  display: flex;
  gap: 269px;
  width: 100%;
  bottom: 200px;
  position: absolute;
  justify-content: center;
}

.gmail {
  position: relative;
  right: 27px;
}

.behance {
  position: relative;
  left: 10px;
}

.contact {
  text-decoration: none;
  color: rgb(233, 208, 255);
  font-size: 61px;
}

.page2 {
  background-image: url(./img/2.png);
}
.aboutnino {
  background-color: rgb(233, 208, 255);
  position: absolute;
  left: 861px;
  top: 100px;
  width: 967px;
  height: 766px;
  font-size: 61px;
  padding-left: 30px;
}
.textpar {
  position: absolute;
  left: 861px;
  top: 200px;
  width: 967px;
  height: 766px;
  font-size: 42px;
  padding-left: 30px;
}
.textpar-2 {
  position: absolute;
  left: 861px;
  top: 700px;
  width: 967px;
  height: 766px;
  font-size: 42px;
  padding-left: 30px;
}
.imgnini {
  position: absolute;
  left: 38px;
  top: 74px;
  width: 662px;
  height: 683px;
}
.certificat-1 {
  font-size: 40px;
  font-family: "RetroTeam";
  background-color: rgb(233, 208, 255);
  color: rgb(5, 0, 12);
  text-transform: uppercase;
  line-height: 1.325;
  position: absolute;
  right: 75px;
  padding: 15px;
  top: 2011px;
  text-decoration: none;
}

.page3 {
  background-image: url(./img/3.png);
}
.portfolio {
  font-size: 71px;
  background-color: rgb(233, 208, 255);
  color: rgb(5, 0, 12);
  position: absolute;
  left: 260px;
  top: 50px;
  padding: 10px;
  padding-bottom: 0px;
}
.ilustration {
  background-color: rgb(233, 208, 255);
  font-size: 70px;
  color: rgb(5, 0, 12);
  text-align: center;
  position: absolute;
  left: 349.747px;
  top: 200px;
  padding: 5px;
  padding-bottom: 0px;
}
.img1 {
  height: 610px;
  top: 2565px;
  position: absolute;
  margin-left: 44px;
  width: 420px;
}
.img2 {
  top: 2565px;
  height: 610px;
  position: absolute;
  left: 500px;
  width: 420px;
}
.img3 {
  top: 2565px;
  height: 610px;
  position: absolute;
  left: 950px;
  width: 420px;
}
.img4 {
  top: 2565px;
  height: 610px;
  position: absolute;
  left: 1400px;
  width: 422px;
}
.page4 {
  background-image: url(./img/4.png);
}
.poto {
  top: 175px;
  height: 580px;
  position: absolute;
  width: 422px;
}

.poto1 {
  margin-left: 44px;
}
.poto2 {
  left: 500px;
}
.poto3 {
  left: 950px;
}

.poto4 {
  left: 1400px;
}
.page5 {
  background-image: url(./img/5.png);
}
.pagedesign {
  color: rgb(0, 0, 0);
  position: absolute;
  left: 274px;
  top: 134px;
  background-color: rgb(233, 208, 255);
  font-size: 150px;
  padding: 20px;
  padding-bottom: 0px;
}
.pot {
  top: 550px;
  height: 450px;
  position: absolute;
  width: 320px;
}

.pot1 {
  margin-left: 205px;
}
.pot2 {
  left: 605px;
}
.pot3 {
  left: 1000px;
}
.pot4 {
  left: 1395px;
}
.page6 {
  background-image: url(./img/6.png);
}
.brand {
  font-size: 91px;
  color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  left: 832px;
  top: 35px;
  background-color: rgb(233, 208, 255);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
}
.bra {
  top: 243px;
}
.bra1 {
  top: 243px;
  height: 268px;
  position: absolute;
  width: 437px;
  margin-left: 500px;
}
.bra2 {
  top: 243px;
  height: 267px;
  position: absolute;
  width: 300px;
  left: 952px;
}
.branding {
  top: 243px;
  height: 177px;
  position: absolute;
  width: 300px;
  left: 1222px;
}

.bra3 {
  top: 243px;
  /* height: 210px;
  position: absolute;
  width: 300px;
  left: 1222px; */
}
.bra4 {
  top: 435px;
}
.bra5 {
  top: 630px;
}
.bra6 {
  top: 825px;
}
.bra7 {
  top: 520px;
  height: 268px;
  position: absolute;
  width: 437px;
  margin-left: 500px;
}
.bra8 {
  top: 520px;
  height: 267px;
  position: absolute;
  width: 250px;
  left: 952px;
}
.bra9 {
  top: 800px;
  height: 205px;
  position: absolute;
  width: 343px;
  margin-left: 500px;
}
.bra10 {
  top: 800px;
  height: 205px;
  position: absolute;
  width: 340px;
  left: 860px;
}

.page7 {
  background-image: url(./img/7.png);
}
.magazine {
  border-style: solid;
  background-color: rgb(233, 208, 255);
  position: absolute;
  left: 660px;
  top: 65px;
  width: 668px;
  font-size: 100px;
  text-align: center;
  padding: 10px;
}
.design1 {
  top: 245px;
  height: 390px;
  position: absolute;
  margin-left: 605px;
  width: 768px;
}
.design {
  top: 680px;
  height: 310px;
  position: absolute;
  width: 460px;
}
.design2 {
  left: 1070px;
}
.design3 {
  margin-left: 480px;
}
.page8 {
  background-image: url(./img/8.png);
}
.retouch {
  border-style: solid;
  background-color: rgb(233, 208, 255);
  position: absolute;
  left: 80px;
  top: 235px;
  width: 895px;
  padding: 30px;
  font-size: 72px;
}
.home {
  top: 93px;
  height: 465px;
  position: absolute;
  width: 785px;
  right: 115px;
}
.city {
  top: 595px;
  height: 445px;
  position: absolute;
  width: 362px;
  left: 165px;
}
.rick {
  top: 595px;
  height: 445px;
  position: absolute;
  width: 362px;
  left: 590px;
}
.angel{
  top: 595px;
  height: 445px;
  position: absolute;
  width: 362px;
  
}
.chaos{
  left: 1006px;
}
.devil{
  right: 116px;
}


